body {
    margin: 0;
    padding-top: 90px; /* Ajustar este valor a la altura de tu navbar */
    font-family: 'Arial', sans-serif;
    background-color: #161E2F;
}

header.navbar {
    background-color: #242F49;
    padding: 8px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2.5px solid #B51A2B;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

header .logo {
    height: 50px; /* Ajustar según el tamaño real del logo */
}

.search-container {
    display: flex;
    align-items: center;
}

.search-bar {
    display: flex;
    flex-direction: row;
}

.search-bar input {
    margin-right: 10px;
    font-size: 16px;
    border: none;
    height: 40px;
}

.search-bar button {
    padding: 0px 10px;
    background-color: #565656;
    margin-right: 40px;
    color: white;
    border: none;
    height: 40px;
    cursor: pointer;
}

.shopping-cart .cart-icon {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: flex;
    align-items: center;
    margin-right: 40px;
}

.btn-navbar {
    background-color: #565656;
    border: none;
    color: white;
    padding: 2px 15px;
    font-size: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.product-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

footer {
    background-color: #242F49;
    color: white;
    text-align: center;
    padding: 20px 0;
    width: 100%;
}

/* Agregar estilos responsivos y de Bootstrap según sea necesario */
