<dialog id="cardModal" class="card-modal">
  <div class="modal-left">
    <img src="../assets/images/GEEKSTALE01.png" alt="Product Logo" />
  </div>
  <div class="modal-right">
    <h3 class="card-title modal-title">Product Name</h3>
    <p class="card-description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas quas,
      ipsa atque distinctio doloremque, tempore provident deleniti culpa
      architecto labore modi magni reiciendis velit corporis vitae est aperiam
      sequi sed?
    </p>
    <h3>$ NNN.NNN</h3>
    <div>
      <label for="modal-color">Seleccionar color</label>
      <input type="color" class="modal-color" id="modal-color" />
    </div>
    <div>
      <label for="quantity">Cantidad:</label>
      <input type="number" id="quantity" value="1" min="1" />
    </div>
    <button>Agregar al Carrito</button>
  </div>
</dialog>
