<header class="custom-navbar">
    <img src="./assets/images/GEEKSTALE00.png" class="logo" alt="GeekStale Logo">
    <div class="nav-extras">
        <div class="search-bar">
            <input type="text" class="input-control" placeholder="Buscar producto">
            <button class="button-custom">Buscar</button>
        </div>
        <a href="cart.html" class="cart-icon">
            <i class="fas fa-shopping-cart"></i>
        </a>
        <button class="button-burguer" onclick="openNav()">&#9776;</button>
    </div>
</header>

<div id="custom-sidebar" class="custom-sidebar">
    <a href="#" class="close-button" onclick="closeNav()">&times;</a>
    <a href="../index.html"">Inicio</a>
    <a href="../about.html">Quienes Somos</a>
    <a href="../products.html">Productos</a>
    <a href="../contact.html">Contacto</a>
</div>