body {
    margin: 0;
    padding-top: 69px;
    font-family: 'Arial', sans-serif;
    background-color: #161E2F;
}

/* Header */

.custom-navbar {
    background-color: #242F49;
    padding: 8px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2.5px solid #B51A2B;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.custom-navbar .logo {
    height: 50px;
    margin-left: 10px;
}

.nav-extras a, .button-burguer {
    color: white;
    text-decoration: none;
}

.nav-extras {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.input-search {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 20px;
    margin-right: 5px;
}

.button-custom {
    padding: 8px 14px;
    background-color: #565656;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
}

.button-burguer {
    padding: 5px 14px;
    background-color: #565656;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 22px;
    padding-bottom: 8px;
}

.cart-icon{
    font-size: 22px;
    margin: 0px 20px;
}

.button-custom:hover, .button-burguer:hover {
    background-color: #242F49;
}

.custom-sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1001;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.7s;
    padding-top: 60px;
}

.custom-sidebar a, .custom-sidebar .close-button {
    padding: 15px 8px 8px 32px;
    text-decoration: none;
    font-size: 22px;
    color: #818181;
    display: block;
}

.custom-sidebar .close-button {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* HEADER */

/* FOOTER */

footer {
    background-color: #242F49;
    color: white;
    text-align: center;
    padding: 20px 0;
    width: 100%;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-logo {
    width: 100px;
    margin-bottom: 20px;
}

.footer-nav {
    margin-bottom: 20px;
}

.footer-nav a {
    margin: 0 12px;
    color: white;
    text-decoration: none;
}

.social-media {
    margin-bottom: 20px;
}

.social-icon {
    color: white;
    margin: 0 15px;
    font-size: 24px;
}

.copy-right {
    font-size: 14px;
}

.social-icon i {
    transition: color 0.3s;
}

.social-icon:hover i {
    color: #B51A2B;
}

/* FOOTER */

/* MAIN - INICIO */

.custom-main {
    background-color: #161E2F;
}

#carouselExampleControls .carousel-item {
    height: 500px; 
}

#carouselExampleControls img {
    height: 100%; 
    width: auto; 
    object-fit: contain;
}

/* MAIN - INICIO */

/* MAIN - PRODUCTOS */

.tittle-products {
    color: #ffffff;
    margin: 25px 0px 0px 20px;
    font-size: 20px;
    border-bottom: 3px solid #B51A2B;
    padding: 0px 7px 2px 2px;
    display: inline-block;
}

/* MAIN - PRODUCTOS */

/*MAIN CART modal */

/* Botón "Finalizar Compra" */
#checkoutButton {
    padding: 10px 20px;
    background-color: #B51A2B;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin: 20px;
}

#checkoutButton:hover {
    background-color: #8c1321;
}

/* Botón "Cancelar" dentro del modal */
#cancelButton {
    padding: 10px 20px;
    background-color: #565656;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

#cancelButton:hover {
    background-color: #404040;
}

/* Estilos para el modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 35%;
    border-radius: 8px;
 text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/*MAIN CART modal */

/*MAIN CART */

h1 {
    text-align: center;
}

.cart-item {
    display: flex;
    margin-bottom: 20px;
}

.cart-item img {
    width: 150px;
    height: 100px;
    margin-right: 20px;
}

.item-details {
    flex: 1;
}

.item-details h2 {
    margin-top: 0;
}

.item-total {
    margin-left: auto;
}

.cart-total {
    margin-top: 20px;
    text-align: right;
}

#cart{
    width: 80%;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
}

.main-cart{
    display: flex;
    justify-content: center;
    padding: 10px;
}

/*MAIN CART */