body {
    margin: 0;
    padding-top: 90px;
    font-family: 'Arial', sans-serif;
    background-color: #161E2F;
}

/* Header */

.custom-navbar {
    background-color: #242F49;
    padding: 8px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2.5px solid #B51A2B;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.custom-navbar .logo {
    height: 50px;
    margin-left: 10px;
}

.nav-extras a, .button-burguer {
    color: white;
    text-decoration: none;
}

.nav-extras {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.input-control {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 20px;
    margin-right: 5px;
}

.button-custom {
    padding: 8px 14px;
    background-color: #565656;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
}

.button-burguer {
    padding: 5px 14px;
    background-color: #565656;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 22px;
    padding-bottom: 8px;
}

.cart-icon{
    font-size: 22px;
    margin: 0px 20px;
}

.button-custom:hover, .button-burguer:hover {
    background-color: #242F49;
}

.custom-sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1001;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.7s;
    padding-top: 60px;
}

.custom-sidebar a, .custom-sidebar .close-button {
    padding: 15px 8px 8px 32px;
    text-decoration: none;
    font-size: 22px;
    color: #818181;
    display: block;
}

.custom-sidebar .close-button {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* HEADER */

/* FOOTER */

footer {
    background-color: #242F49;
    color: white;
    text-align: center;
    padding: 20px 0;
    width: 100%;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-logo {
    width: 100px;
    margin-bottom: 20px;
}

.footer-nav {
    margin-bottom: 20px;
}

.footer-nav a {
    margin: 0 12px;
    color: white;
    text-decoration: none;
}

.social-media {
    margin-bottom: 20px;
}

.social-icon {
    color: white;
    margin: 0 15px;
    font-size: 24px;
}

.copy-right {
    font-size: 14px;
}

.social-icon i {
    transition: color 0.3s;
}

.social-icon:hover i {
    color: #B51A2B;
}

/* FOOTER */

/* MAIN - INICIO */

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.card {
    width: 18rem;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: 10px;
    transition: transform 0.3s ease-in-out;
    border-radius: 10px;
    padding: 5px;
}

.card:hover {
    transform: scale(1.05);
}

.card-image {
    width: 100%;
    height: auto;
    display: block;
}

.card-content {
    padding: 16px;
}

.card-title, .card-description, .card-button {
    margin-top: 0;
    color: #333;
}

.card-description {
    color: #666;
    font-size: 14px;
    margin: 10px 0;
}

.card-button {
    display: inline-block;
    padding: 8px 16px;
    background-color: #007BFF;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
}

.card-button:hover {
    background-color: #0056b3;
}

/* MAIN - INICIO */